$primary-color: #352B22;
$secondary-color: #4a5455;
$input-bg-color: #f2f2f2;


$bg-color: #eeeeee;
$contrast-color: #ffd041;
$text-clear: #ededed;
$text-dark: #352B22;
$del-color: #f25430;
$color-light: #f9f5d4;

$color-hover: rgb(226, 23, 104);
$padding-lateral-sm: 2.5vw;
